In [1]:
!pip install spark-nlp

Requirement already satisfied: spark-nlp in /usr/local/lib/python3.10/dist-packages (5.4.0)

In [2]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.25.2)

In [3]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [4]:
!pip install spark

Requirement already satisfied: spark in /usr/local/lib/python3.10/dist-packages (0.2.1)

In [5]:
import sparknlp
import pyspark
import spark
sparknlp=sparknlp.start()

In [6]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder \
    .appName("Create DataFrame from Text") \
    .getOrCreate()

# Sample text
sample = '''As she travelled across the world, Emma visited many different places and
met many fascinating people. She walked the streets of Tokyo, hiked the rugged
mountains of Nepal, and swam in the crystal-clear waters of the Caribbean.
Along the way, she befriended locals like Akira, Rajesh, and Maria, each with
their own story to tell. Emma's travel took her to many cities, including
New York, Paris, and Hong Kong, where she savored delicious foods and explored
vibrant cultures. No matter where she went, Emma always found new wonders to
discover and memories to cherish.'''

# Create a DataFrame
data = spark.createDataFrame([(sample,)]).toDF("text")

# Show the DataFrame
data.show(truncate=False)

+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|text                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|As she travelled across the world, Emma visited many different places and\nmet many fascinating people. She walked the streets of Tokyo, hiked the rugged\nmountains of Nepal, and swam in the crystal-clear waters of the Caribbean.\nAlong the way, she befriended locals like Akira, Rajesh, and Maria, each with\ntheir own story to tell. Emma's travel took her to many cities, including\nNew York, Paris, and Hong Kong, where she savored delicious foods and explored\nvibrant cultures. No matter where she went, Emma always found new wonders to\ndiscover and memories to cherish.|
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [8]:
#person
person_matches='''
Emma
Akira
Rajesh
Muriya
'''

with open('person_matches','w') as f:
  f.write(person_matches)


#location
location_matches='''
Tokyo
Nepal
caribbean
New_york
Paris
Hong Kong
'''


with open('location_matches','w') as f:
  f.write(location_matches)

In [9]:
from sparknlp.base import DocumentAssembler,Pipeline,ReadAs

from sparknlp.annotator import(
    Tokenizer,
    TextMatcher)

from pyspark.sql.types import StringType
import pyspark.sql.functions as F

In [10]:
document_assembler=DocumentAssembler() \
  .setInputCol("text") \
  .setOutputCol("document")

In [11]:
tokenizer=Tokenizer() \
  .setInputCols("document") \
  .setOutputCol("token")

In [22]:
#pipeline=Pipeline().setStages([document_assembler,tokenizer,person_extractor,location_extractor])
pipeline = Pipeline().setStages([document_assembler, tokenizer])

In [23]:
# Fit and transform the data
model = pipeline.fit(data)
result = model.transform(data)

In [24]:
# Show the results
result.select("token.result").show(truncate=False)

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|result                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|[As, she, travelled, across, the, world, ,, Emma, visited, many, different, places, and, met, many, fascinating, people, ., She, walked, the, streets, of, Tokyo, ,, hiked, the, rugged, mountains, of, Nepal, ,, and, swam, in, the, crystal-clear, waters, of, the, Caribbean, ., Along, the, way, ,, she, befriended, locals, like, Akira, ,, Rajesh, ,, and, Maria, ,, each, with, their, own, story, to, tell, ., Emma's, travel, took, her, to, many, cities, ,, including, New, York, ,, Paris, ,, and, Hong, Kong, ,, where, she, savored, delicious, foods, and, explored, vibrant, cultures, ., No, matter, where, she, went, ,, Emma, always, found, new, wonders, to, discover, and, memories, to, cherish, .]|
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+