In [4]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=37e004a86c790f0c94e95b876bb29fa2fd156444bf32370696ac53f9323ae8f8
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [5]:
import pyspark
from pyspark.sql import SparkSession

In [6]:
# Create a Spark session
spark = SparkSession.builder.appName("income_dataset").getOrCreate()

In [7]:
data=spark.read.csv('/content/adult.data')
data.show()

+---+-----------------+-------+-------------+---+--------------------+------------------+--------------+-------------------+-------+------+----+----+--------------+------+
|_c0|              _c1|    _c2|          _c3|_c4|                 _c5|               _c6|           _c7|                _c8|    _c9|  _c10|_c11|_c12|          _c13|  _c14|
+---+-----------------+-------+-------------+---+--------------------+------------------+--------------+-------------------+-------+------+----+----+--------------+------+
| 39|        State-gov|  77516|    Bachelors| 13|       Never-married|      Adm-clerical| Not-in-family|              White|   Male|  2174|   0|  40| United-States| <=50K|
| 50| Self-emp-not-inc|  83311|    Bachelors| 13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|     0|   0|  13| United-States| <=50K|
| 38|          Private| 215646|      HS-grad|  9|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|     0|   0|  40| United-States| <=50K|
| 53|          Private| 234721|         11th|  7|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|     0|   0|  40| United-States| <=50K|
| 28|          Private| 338409|    Bachelors| 13|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|     0|   0|  40|          Cuba| <=50K|
| 37|          Private| 284582|      Masters| 14|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|     0|   0|  40| United-States| <=50K|
| 49|          Private| 160187|          9th|  5| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|     0|   0|  16|       Jamaica| <=50K|
| 52| Self-emp-not-inc| 209642|      HS-grad|  9|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|     0|   0|  45| United-States|  >50K|
| 31|          Private|  45781|      Masters| 14|       Never-married|    Prof-specialty| Not-in-family|              White| Female| 14084|   0|  50| United-States|  >50K|
| 42|          Private| 159449|    Bachelors| 13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|  5178|   0|  40| United-States|  >50K|
| 37|          Private| 280464| Some-college| 10|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|     0|   0|  80| United-States|  >50K|
| 30|        State-gov| 141297|    Bachelors| 13|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|     0|   0|  40|         India|  >50K|
| 23|          Private| 122272|    Bachelors| 13|       Never-married|      Adm-clerical|     Own-child|              White| Female|     0|   0|  30| United-States| <=50K|
| 32|          Private| 205019|   Assoc-acdm| 12|       Never-married|             Sales| Not-in-family|              Black|   Male|     0|   0|  50| United-States| <=50K|
| 40|          Private| 121772|    Assoc-voc| 11|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|     0|   0|  40|             ?|  >50K|
| 34|          Private| 245487|      7th-8th|  4|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|     0|   0|  45|        Mexico| <=50K|
| 25| Self-emp-not-inc| 176756|      HS-grad|  9|       Never-married|   Farming-fishing|     Own-child|              White|   Male|     0|   0|  35| United-States| <=50K|
| 32|          Private| 186824|      HS-grad|  9|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|     0|   0|  40| United-States| <=50K|
| 38|          Private|  28887|         11th|  7|  Married-civ-spouse|             Sales|       Husband|              White|   Male|     0|   0|  50| United-States| <=50K|
| 43| Self-emp-not-inc| 292175|      Masters| 14|            Divorced|   Exec-managerial|     Unmarried|              White| Female|     0|   0|  45| United-States|  >50K|
+---+-----------------+-------+-------------+---+--------------------+------------------+--------------+-------------------+-------+------+----+----+--------------+------+
only showing top 20 rows

In [8]:
#adding label name to the columns
labels=['age','workclass','fnlwgt','education','numbers','marital','occupation','relation','race','gender','gain','loss','hourlypay','country','income']

In [9]:
df=data.toDF(*labels)
df.show(5)

+---+-----------------+-------+----------+-------+-------------------+------------------+--------------+------+-------+-----+----+---------+--------------+------+
|age|        workclass| fnlwgt| education|numbers|            marital|        occupation|      relation|  race| gender| gain|loss|hourlypay|       country|income|
+---+-----------------+-------+----------+-------+-------------------+------------------+--------------+------+-------+-----+----+---------+--------------+------+
| 39|        State-gov|  77516| Bachelors|     13|      Never-married|      Adm-clerical| Not-in-family| White|   Male| 2174|   0|       40| United-States| <=50K|
| 50| Self-emp-not-inc|  83311| Bachelors|     13| Married-civ-spouse|   Exec-managerial|       Husband| White|   Male|    0|   0|       13| United-States| <=50K|
| 38|          Private| 215646|   HS-grad|      9|           Divorced| Handlers-cleaners| Not-in-family| White|   Male|    0|   0|       40| United-States| <=50K|
| 53|          Private| 234721|      11th|      7| Married-civ-spouse| Handlers-cleaners|       Husband| Black|   Male|    0|   0|       40| United-States| <=50K|
| 28|          Private| 338409| Bachelors|     13| Married-civ-spouse|    Prof-specialty|          Wife| Black| Female|    0|   0|       40|          Cuba| <=50K|
+---+-----------------+-------+----------+-------+-------------------+------------------+--------------+------+-------+-----+----+---------+--------------+------+
only showing top 5 rows

In [10]:
df.printSchema()

root
 |-- age: string (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: string (nullable = true)
 |-- education: string (nullable = true)
 |-- numbers: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relation: string (nullable = true)
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- gain: string (nullable = true)
 |-- loss: string (nullable = true)
 |-- hourlypay: string (nullable = true)
 |-- country: string (nullable = true)
 |-- income: string (nullable = true)

In [11]:
from pyspark.sql.functions import col
new_df=df.withColumn('age',col('age').cast('integer'))

In [12]:
new_df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: string (nullable = true)
 |-- education: string (nullable = true)
 |-- numbers: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relation: string (nullable = true)
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- gain: string (nullable = true)
 |-- loss: string (nullable = true)
 |-- hourlypay: string (nullable = true)
 |-- country: string (nullable = true)
 |-- income: string (nullable = true)

In [13]:
for i in ['fnlwgt','numbers','gain','loss','hourlypay']:
  new_df=new_df.withColumn(i,col(i).cast('integer'))

In [14]:
from pyspark.sql.functions import *
new_df.select([count(when(col(c).isNull(),c )).alias(c) for c in new_df.columns]).show()

+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|age|workclass|fnlwgt|education|numbers|marital|occupation|relation|race|gender|gain|loss|hourlypay|country|income|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|  0|        0|     0|        0|      0|      0|         0|       0|   0|     0|   0|   0|        0|      0|     0|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+

In [15]:
df.select('workclass').distinct().show()  #null values are present

+-----------------+
|        workclass|
+-----------------+
|        State-gov|
|      Federal-gov|
| Self-emp-not-inc|
|        Local-gov|
|          Private|
|                ?|
|     Self-emp-inc|
|      Without-pay|
|     Never-worked|
+-----------------+

In [16]:
df.groupby('workclass').count().show()

+-----------------+-----+
|        workclass|count|
+-----------------+-----+
|        State-gov| 1298|
|      Federal-gov|  960|
| Self-emp-not-inc| 2541|
|        Local-gov| 2093|
|          Private|22696|
|                ?| 1836|
|     Self-emp-inc| 1116|
|      Without-pay|   14|
|     Never-worked|    7|
+-----------------+-----+

In [17]:
#replacing the null values
df=new_df.replace(' ?',None)

In [18]:
from pyspark.sql.functions import *
df.select([count(when(col(c).isNull(),c )).alias(c) for c in df.columns]).show()

+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|age|workclass|fnlwgt|education|numbers|marital|occupation|relation|race|gender|gain|loss|hourlypay|country|income|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|  0|     1836|     0|        0|      0|      0|      1843|       0|   0|     0|   0|   0|        0|    583|     0|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+

In [19]:
df.groupby('country').count().show()

+-------------------+-----+
|            country|count|
+-------------------+-----+
| Dominican-Republic|   70|
|            Ireland|   24|
|               Cuba|   95|
|          Guatemala|   64|
|               Iran|   43|
|             Taiwan|   51|
|        El-Salvador|  106|
|      United-States|29170|
|              South|   80|
|              Japan|   62|
|          Nicaragua|   34|
|               NULL|  583|
|             Canada|  121|
|           Cambodia|   19|
|               Laos|   18|
|            Germany|  137|
|    Trinadad&Tobago|   19|
|               Peru|   31|
|            Ecuador|   28|
|         Yugoslavia|   16|
+-------------------+-----+
only showing top 20 rows

In [20]:
#using the mode method and filling the null values
df=df.fillna('United-States',subset=['country'])

In [21]:
df.groupby('workclass').count().show()

+-----------------+-----+
|        workclass|count|
+-----------------+-----+
|        State-gov| 1298|
|      Federal-gov|  960|
|             NULL| 1836|
| Self-emp-not-inc| 2541|
|        Local-gov| 2093|
|          Private|22696|
|     Self-emp-inc| 1116|
|      Without-pay|   14|
|     Never-worked|    7|
+-----------------+-----+

In [22]:
#using the mode method and filling the null values
df=df.fillna('Private',subset=['workclass'])

In [23]:
df.groupby('occupation').count().show()

+------------------+-----+
|        occupation|count|
+------------------+-----+
|   Farming-fishing|  994|
|              NULL| 1843|
| Handlers-cleaners| 1370|
|    Prof-specialty| 4140|
|      Adm-clerical| 3770|
|   Exec-managerial| 4066|
|      Craft-repair| 4099|
|             Sales| 3650|
|      Tech-support|  928|
|  Transport-moving| 1597|
|   Protective-serv|  649|
|      Armed-Forces|    9|
| Machine-op-inspct| 2002|
|     Other-service| 3295|
|   Priv-house-serv|  149|
+------------------+-----+

In [24]:
df=df.fillna('Prof-specialty',subset=['occupation'])

In [25]:
new_df.select([count(when(col(c).isNull(),c )).alias(c) for c in new_df.columns]).show()

+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|age|workclass|fnlwgt|education|numbers|marital|occupation|relation|race|gender|gain|loss|hourlypay|country|income|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|  0|        0|     0|        0|      0|      0|         0|       0|   0|     0|   0|   0|        0|      0|     0|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+

#Applying Naive bayes

In [43]:
categorical_cols=['age',
 'education',
 'marital',
 'occupation',
 'relation',
 'race',
 'gender',
 'country','income']

numerical_cols=['age','fnlwgt','numbers','gain','loss','hourlypay']
label='income'

In [44]:
def indexer(df,col):
  indexer=StringIndexer(inputCol=col,outputCol=f'{col}_index',handleInvalid='keep')
  indexed=indexer.fit(df).transform(df)
  return indexed

In [45]:
indexer(df,'workclass').show()

+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+---------------+
|age|        workclass|fnlwgt|    education|numbers|             marital|        occupation|      relation|               race| gender| gain|loss|hourlypay|       country|income|workclass_index|
+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+---------------+
| 39|        State-gov| 77516|    Bachelors|     13|       Never-married|      Adm-clerical| Not-in-family|              White|   Male| 2174|   0|       40| United-States| <=50K|            4.0|
| 50| Self-emp-not-inc| 83311|    Bachelors|     13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0|   0|       13| United-States| <=50K|            1.0|
| 38|          Private|215646|      HS-grad|      9|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|    0|   0|       40| United-States| <=50K|            0.0|
| 53|          Private|234721|         11th|      7|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|    0|   0|       40| United-States| <=50K|            0.0|
| 28|          Private|338409|    Bachelors|     13|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|    0|   0|       40|          Cuba| <=50K|            0.0|
| 37|          Private|284582|      Masters|     14|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|    0|   0|       40| United-States| <=50K|            0.0|
| 49|          Private|160187|          9th|      5| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|    0|   0|       16|       Jamaica| <=50K|            0.0|
| 52| Self-emp-not-inc|209642|      HS-grad|      9|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0|   0|       45| United-States|  >50K|            1.0|
| 31|          Private| 45781|      Masters|     14|       Never-married|    Prof-specialty| Not-in-family|              White| Female|14084|   0|       50| United-States|  >50K|            0.0|
| 42|          Private|159449|    Bachelors|     13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male| 5178|   0|       40| United-States|  >50K|            0.0|
| 37|          Private|280464| Some-college|     10|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|    0|   0|       80| United-States|  >50K|            0.0|
| 30|        State-gov|141297|    Bachelors|     13|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|    0|   0|       40|         India|  >50K|            4.0|
| 23|          Private|122272|    Bachelors|     13|       Never-married|      Adm-clerical|     Own-child|              White| Female|    0|   0|       30| United-States| <=50K|            0.0|
| 32|          Private|205019|   Assoc-acdm|     12|       Never-married|             Sales| Not-in-family|              Black|   Male|    0|   0|       50| United-States| <=50K|            0.0|
| 40|          Private|121772|    Assoc-voc|     11|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|    0|   0|       40| United-States|  >50K|            0.0|
| 34|          Private|245487|      7th-8th|      4|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|    0|   0|       45|        Mexico| <=50K|            0.0|
| 25| Self-emp-not-inc|176756|      HS-grad|      9|       Never-married|   Farming-fishing|     Own-child|              White|   Male|    0|   0|       35| United-States| <=50K|            1.0|
| 32|          Private|186824|      HS-grad|      9|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|    0|   0|       40| United-States| <=50K|            0.0|
| 38|          Private| 28887|         11th|      7|  Married-civ-spouse|             Sales|       Husband|              White|   Male|    0|   0|       50| United-States| <=50K|            0.0|
| 43| Self-emp-not-inc|292175|      Masters|     14|            Divorced|   Exec-managerial|     Unmarried|              White| Female|    0|   0|       45| United-States|  >50K|            1.0|
+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+---------------+
only showing top 20 rows

In [46]:
df.show()

+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+
|age|        workclass|fnlwgt|    education|numbers|             marital|        occupation|      relation|               race| gender| gain|loss|hourlypay|       country|income|
+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+
| 39|        State-gov| 77516|    Bachelors|     13|       Never-married|      Adm-clerical| Not-in-family|              White|   Male| 2174|   0|       40| United-States| <=50K|
| 50| Self-emp-not-inc| 83311|    Bachelors|     13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0|   0|       13| United-States| <=50K|
| 38|          Private|215646|      HS-grad|      9|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|    0|   0|       40| United-States| <=50K|
| 53|          Private|234721|         11th|      7|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|    0|   0|       40| United-States| <=50K|
| 28|          Private|338409|    Bachelors|     13|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|    0|   0|       40|          Cuba| <=50K|
| 37|          Private|284582|      Masters|     14|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|    0|   0|       40| United-States| <=50K|
| 49|          Private|160187|          9th|      5| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|    0|   0|       16|       Jamaica| <=50K|
| 52| Self-emp-not-inc|209642|      HS-grad|      9|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0|   0|       45| United-States|  >50K|
| 31|          Private| 45781|      Masters|     14|       Never-married|    Prof-specialty| Not-in-family|              White| Female|14084|   0|       50| United-States|  >50K|
| 42|          Private|159449|    Bachelors|     13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male| 5178|   0|       40| United-States|  >50K|
| 37|          Private|280464| Some-college|     10|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|    0|   0|       80| United-States|  >50K|
| 30|        State-gov|141297|    Bachelors|     13|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|    0|   0|       40|         India|  >50K|
| 23|          Private|122272|    Bachelors|     13|       Never-married|      Adm-clerical|     Own-child|              White| Female|    0|   0|       30| United-States| <=50K|
| 32|          Private|205019|   Assoc-acdm|     12|       Never-married|             Sales| Not-in-family|              Black|   Male|    0|   0|       50| United-States| <=50K|
| 40|          Private|121772|    Assoc-voc|     11|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|    0|   0|       40| United-States|  >50K|
| 34|          Private|245487|      7th-8th|      4|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|    0|   0|       45|        Mexico| <=50K|
| 25| Self-emp-not-inc|176756|      HS-grad|      9|       Never-married|   Farming-fishing|     Own-child|              White|   Male|    0|   0|       35| United-States| <=50K|
| 32|          Private|186824|      HS-grad|      9|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|    0|   0|       40| United-States| <=50K|
| 38|          Private| 28887|         11th|      7|  Married-civ-spouse|             Sales|       Husband|              White|   Male|    0|   0|       50| United-States| <=50K|
| 43| Self-emp-not-inc|292175|      Masters|     14|            Divorced|   Exec-managerial|     Unmarried|              White| Female|    0|   0|       45| United-States|  >50K|
+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+
only showing top 20 rows

In [47]:
#Transformation of the data
for col in categorical_cols:
  index_df=indexer(new_df,col)
  new_df=index_df

In [48]:
new_df.show()

+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+---------+---------------+-------------+----------------+--------------+----------+------------+-------------+------------+
|age|        workclass|fnlwgt|    education|numbers|             marital|        occupation|      relation|               race| gender| gain|loss|hourlypay|       country|income|age_index|education_index|marital_index|occupation_index|relation_index|race_index|gender_index|country_index|income_index|
+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+---------+---------------+-------------+----------------+--------------+----------+------------+-------------+------------+
| 39|        State-gov| 77516|    Bachelors|     13|       Never-married|      Adm-clerical| Not-in-family|              White|   Male| 2174|   0|       40| United-States| <=50K|     13.0|            2.0|          1.0|             3.0|           1.0|       0.0|         0.0|          0.0|         0.0|
| 50| Self-emp-not-inc| 83311|    Bachelors|     13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0|   0|       13| United-States| <=50K|     29.0|            2.0|          0.0|             2.0|           0.0|       0.0|         0.0|          0.0|         0.0|
| 38|          Private|215646|      HS-grad|      9|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|    0|   0|       40| United-States| <=50K|     12.0|            0.0|          2.0|             9.0|           1.0|       0.0|         0.0|          0.0|         0.0|
| 53|          Private|234721|         11th|      7|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|    0|   0|       40| United-States| <=50K|     35.0|            5.0|          0.0|             9.0|           0.0|       1.0|         0.0|          0.0|         0.0|
| 28|          Private|338409|    Bachelors|     13|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|    0|   0|       40|          Cuba| <=50K|      6.0|            2.0|          0.0|             0.0|           4.0|       1.0|         1.0|          9.0|         0.0|
| 37|          Private|284582|      Masters|     14|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|    0|   0|       40| United-States| <=50K|      8.0|            3.0|          0.0|             2.0|           4.0|       0.0|         1.0|          0.0|         0.0|
| 49|          Private|160187|          9th|      5| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|    0|   0|       16|       Jamaica| <=50K|     31.0|           10.0|          5.0|             5.0|           1.0|       1.0|         1.0|         11.0|         0.0|
| 52| Self-emp-not-inc|209642|      HS-grad|      9|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0|   0|       45| United-States|  >50K|     34.0|            0.0|          0.0|             2.0|           0.0|       0.0|         0.0|          0.0|         1.0|
| 31|          Private| 45781|      Masters|     14|       Never-married|    Prof-specialty| Not-in-family|              White| Female|14084|   0|       50| United-States|  >50K|      1.0|            3.0|          1.0|             0.0|           1.0|       0.0|         1.0|          0.0|         1.0|
| 42|          Private|159449|    Bachelors|     13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male| 5178|   0|       40| United-States|  >50K|     19.0|            2.0|          0.0|             2.0|           0.0|       0.0|         0.0|          0.0|         1.0|
| 37|          Private|280464| Some-college|     10|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|    0|   0|       80| United-States|  >50K|      8.0|            1.0|          0.0|             2.0|           0.0|       1.0|         0.0|          0.0|         1.0|
| 30|        State-gov|141297|    Bachelors|     13|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|    0|   0|       40|         India|  >50K|      7.0|            2.0|          0.0|             0.0|           0.0|       2.0|         0.0|          8.0|         1.0|
| 23|          Private|122272|    Bachelors|     13|       Never-married|      Adm-clerical|     Own-child|              White| Female|    0|   0|       30| United-States| <=50K|      3.0|            2.0|          1.0|             3.0|           2.0|       0.0|         1.0|          0.0|         0.0|
| 32|          Private|205019|   Assoc-acdm|     12|       Never-married|             Sales| Not-in-family|              Black|   Male|    0|   0|       50| United-States| <=50K|     11.0|            6.0|          1.0|             4.0|           1.0|       1.0|         0.0|          0.0|         0.0|
| 40|          Private|121772|    Assoc-voc|     11|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|    0|   0|       40|             ?|  >50K|     17.0|            4.0|          0.0|             1.0|           0.0|       2.0|         0.0|          2.0|         1.0|
| 34|          Private|245487|      7th-8th|      4|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|    0|   0|       45|        Mexico| <=50K|      2.0|            8.0|          0.0|             8.0|           0.0|       3.0|         0.0|          1.0|         0.0|
| 25| Self-emp-not-inc|176756|      HS-grad|      9|       Never-married|   Farming-fishing|     Own-child|              White|   Male|    0|   0|       35| United-States| <=50K|      9.0|            0.0|          1.0|            10.0|           2.0|       0.0|         0.0|          0.0|         0.0|
| 32|          Private|186824|      HS-grad|      9|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|    0|   0|       40| United-States| <=50K|     11.0|            0.0|          1.0|             6.0|           3.0|       0.0|         0.0|          0.0|         0.0|
| 38|          Private| 28887|         11th|      7|  Married-civ-spouse|             Sales|       Husband|              White|   Male|    0|   0|       50| United-States| <=50K|     12.0|            5.0|          0.0|             4.0|           0.0|       0.0|         0.0|          0.0|         0.0|
| 43| Self-emp-not-inc|292175|      Masters|     14|            Divorced|   Exec-managerial|     Unmarried|              White| Female|    0|   0|       45| United-States|  >50K|     20.0|            3.0|          2.0|             2.0|           3.0|       0.0|         1.0|          0.0|         1.0|
+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+---------+---------------+-------------+----------------+--------------+----------+------------+-------------+------------+
only showing top 20 rows

In [49]:
assembler=VectorAssembler(inputCols=[f'{c}_index' for c in categorical_cols]+numerical_cols,outputCol='features')

In [50]:
vector=assembler.transform(new_df)

In [51]:
vector.show()

+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+---------+---------------+-------------+----------------+--------------+----------+------------+-------------+------------+--------------------+
|age|        workclass|fnlwgt|    education|numbers|             marital|        occupation|      relation|               race| gender| gain|loss|hourlypay|       country|income|age_index|education_index|marital_index|occupation_index|relation_index|race_index|gender_index|country_index|income_index|            features|
+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+---------+---------------+-------------+----------------+--------------+----------+------------+-------------+------------+--------------------+
| 39|        State-gov| 77516|    Bachelors|     13|       Never-married|      Adm-clerical| Not-in-family|              White|   Male| 2174|   0|       40| United-States| <=50K|     13.0|            2.0|          1.0|             3.0|           1.0|       0.0|         0.0|          0.0|         0.0|[13.0,2.0,1.0,3.0...|
| 50| Self-emp-not-inc| 83311|    Bachelors|     13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0|   0|       13| United-States| <=50K|     29.0|            2.0|          0.0|             2.0|           0.0|       0.0|         0.0|          0.0|         0.0|(15,[0,1,3,9,10,1...|
| 38|          Private|215646|      HS-grad|      9|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|    0|   0|       40| United-States| <=50K|     12.0|            0.0|          2.0|             9.0|           1.0|       0.0|         0.0|          0.0|         0.0|(15,[0,2,3,4,9,10...|
| 53|          Private|234721|         11th|      7|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|    0|   0|       40| United-States| <=50K|     35.0|            5.0|          0.0|             9.0|           0.0|       1.0|         0.0|          0.0|         0.0|(15,[0,1,3,5,9,10...|
| 28|          Private|338409|    Bachelors|     13|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|    0|   0|       40|          Cuba| <=50K|      6.0|            2.0|          0.0|             0.0|           4.0|       1.0|         1.0|          9.0|         0.0|[6.0,2.0,0.0,0.0,...|
| 37|          Private|284582|      Masters|     14|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|    0|   0|       40| United-States| <=50K|      8.0|            3.0|          0.0|             2.0|           4.0|       0.0|         1.0|          0.0|         0.0|[8.0,3.0,0.0,2.0,...|
| 49|          Private|160187|          9th|      5| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|    0|   0|       16|       Jamaica| <=50K|     31.0|           10.0|          5.0|             5.0|           1.0|       1.0|         1.0|         11.0|         0.0|[31.0,10.0,5.0,5....|
| 52| Self-emp-not-inc|209642|      HS-grad|      9|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0|   0|       45| United-States|  >50K|     34.0|            0.0|          0.0|             2.0|           0.0|       0.0|         0.0|          0.0|         1.0|(15,[0,3,8,9,10,1...|
| 31|          Private| 45781|      Masters|     14|       Never-married|    Prof-specialty| Not-in-family|              White| Female|14084|   0|       50| United-States|  >50K|      1.0|            3.0|          1.0|             0.0|           1.0|       0.0|         1.0|          0.0|         1.0|[1.0,3.0,1.0,0.0,...|
| 42|          Private|159449|    Bachelors|     13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male| 5178|   0|       40| United-States|  >50K|     19.0|            2.0|          0.0|             2.0|           0.0|       0.0|         0.0|          0.0|         1.0|[19.0,2.0,0.0,2.0...|
| 37|          Private|280464| Some-college|     10|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|    0|   0|       80| United-States|  >50K|      8.0|            1.0|          0.0|             2.0|           0.0|       1.0|         0.0|          0.0|         1.0|[8.0,1.0,0.0,2.0,...|
| 30|        State-gov|141297|    Bachelors|     13|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|    0|   0|       40|         India|  >50K|      7.0|            2.0|          0.0|             0.0|           0.0|       2.0|         0.0|          8.0|         1.0|[7.0,2.0,0.0,0.0,...|
| 23|          Private|122272|    Bachelors|     13|       Never-married|      Adm-clerical|     Own-child|              White| Female|    0|   0|       30| United-States| <=50K|      3.0|            2.0|          1.0|             3.0|           2.0|       0.0|         1.0|          0.0|         0.0|[3.0,2.0,1.0,3.0,...|
| 32|          Private|205019|   Assoc-acdm|     12|       Never-married|             Sales| Not-in-family|              Black|   Male|    0|   0|       50| United-States| <=50K|     11.0|            6.0|          1.0|             4.0|           1.0|       1.0|         0.0|          0.0|         0.0|[11.0,6.0,1.0,4.0...|
| 40|          Private|121772|    Assoc-voc|     11|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|    0|   0|       40|             ?|  >50K|     17.0|            4.0|          0.0|             1.0|           0.0|       2.0|         0.0|          2.0|         1.0|[17.0,4.0,0.0,1.0...|
| 34|          Private|245487|      7th-8th|      4|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|    0|   0|       45|        Mexico| <=50K|      2.0|            8.0|          0.0|             8.0|           0.0|       3.0|         0.0|          1.0|         0.0|[2.0,8.0,0.0,8.0,...|
| 25| Self-emp-not-inc|176756|      HS-grad|      9|       Never-married|   Farming-fishing|     Own-child|              White|   Male|    0|   0|       35| United-States| <=50K|      9.0|            0.0|          1.0|            10.0|           2.0|       0.0|         0.0|          0.0|         0.0|(15,[0,2,3,4,9,10...|
| 32|          Private|186824|      HS-grad|      9|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|    0|   0|       40| United-States| <=50K|     11.0|            0.0|          1.0|             6.0|           3.0|       0.0|         0.0|          0.0|         0.0|(15,[0,2,3,4,9,10...|
| 38|          Private| 28887|         11th|      7|  Married-civ-spouse|             Sales|       Husband|              White|   Male|    0|   0|       50| United-States| <=50K|     12.0|            5.0|          0.0|             4.0|           0.0|       0.0|         0.0|          0.0|         0.0|(15,[0,1,3,9,10,1...|
| 43| Self-emp-not-inc|292175|      Masters|     14|            Divorced|   Exec-managerial|     Unmarried|              White| Female|    0|   0|       45| United-States|  >50K|     20.0|            3.0|          2.0|             2.0|           3.0|       0.0|         1.0|          0.0|         1.0|[20.0,3.0,2.0,2.0...|
+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+---------+---------------+-------------+----------------+--------------+----------+------------+-------------+------------+--------------------+
only showing top 20 rows

In [52]:
#Ussing correlation metrics
from pyspark.ml.stat import Correlation
Correlation.corr(vector,'features').show()

+--------------------+
|   pearson(features)|
+--------------------+
|1.0              ...|
+--------------------+

In [54]:
col=[f'{c}_index' for c in categorical_cols]+ numerical_cols

In [56]:
r1=Correlation.corr(vector,'features').head()

In [57]:
print('Pearson correalation martrix:\n'+str(r1[0]))

Pearson correalation martrix:
DenseMatrix([[ 1.00000000e+00,  1.05730625e-01,  7.26971202e-02,
               3.71980873e-02, -7.63761398e-02, -4.87566926e-02,
              -1.95395149e-03, -1.48055269e-02,  6.57025772e-02,
               6.84357474e-01, -6.18365044e-02, -1.04325558e-01,
               4.52066638e-02,  2.01655344e-02, -1.74679748e-01],
             [ 1.05730625e-01,  1.00000000e+00, -5.43462520e-03,
              -1.64882302e-02, -1.40352218e-02,  3.20378119e-02,
              -4.02158184e-02,  8.29998874e-02,  4.24489521e-02,
               7.61125290e-02,  3.44838605e-02, -1.70081765e-01,
               5.92847625e-02,  2.19380216e-02, -7.92952053e-03],
             [ 7.26971202e-02, -5.43462520e-03,  1.00000000e+00,
               4.46472295e-02,  4.11140727e-01,  6.89439876e-02,
               4.08301403e-01,  2.15264796e-02, -3.11287762e-01,
               3.05672475e-02,  5.44716467e-03, -1.04875923e-01,
              -5.77145430e-02, -5.33565354e-02, -1.46710908e-01],
             [ 3.71980873e-02, -1.64882302e-02,  4.46472295e-02,
               1.00000000e+00,  5.26551559e-02,  3.65779801e-02,
              -3.45841719e-02, -3.12960698e-04, -1.85636046e-01,
              -5.94372268e-02,  1.55878428e-02, -3.16549423e-01,
              -7.14539715e-02, -4.84307107e-02, -7.72239669e-02],
             [-7.63761398e-02, -1.40352218e-02,  4.11140727e-01,
               5.26551559e-02,  1.00000000e+00,  1.13958969e-01,
               5.53330155e-01,  4.87439679e-02, -2.54292097e-01,
              -2.35690407e-01,  1.81624688e-02, -1.10255651e-01,
              -5.75767690e-02, -5.83702565e-02, -2.27606671e-01],
             [-4.87566926e-02,  3.20378119e-02,  6.89439876e-02,
               3.65779801e-02,  1.13958969e-01,  1.00000000e+00,
               6.78399222e-02,  2.17233824e-01, -6.77130720e-02,
              -3.99995728e-02,  4.99831748e-04, -3.97595119e-02,
              -7.99122568e-03, -1.71895897e-02, -3.31146865e-02],
             [-1.95395149e-03, -4.02158184e-02,  4.08301403e-01,
              -3.45841719e-02,  5.53330155e-01,  6.78399222e-02,
               1.00000000e+00,  1.20410998e-02, -2.15980151e-01,
              -8.88317312e-02, -2.68580453e-02, -1.22800543e-02,
              -4.84796469e-02, -4.55673547e-02, -2.29309149e-01],
             [-1.48055269e-02,  8.29998874e-02,  2.15264796e-02,
              -3.12960698e-04,  4.87439679e-02,  2.17233824e-01,
               1.20410998e-02,  1.00000000e+00, -1.85824005e-02,
               5.03409906e-05,  2.20450580e-02, -2.88340795e-02,
              -7.87461293e-03, -3.89271091e-03, -3.36369371e-03],
             [ 6.57025772e-02,  4.24489521e-02, -3.11287762e-01,
              -1.85636046e-01, -2.54292097e-01, -6.77130720e-02,
              -2.15980151e-01, -1.85824005e-02,  1.00000000e+00,
               2.34037103e-01, -9.46255725e-03,  3.35153953e-01,
               2.23328818e-01,  1.50526312e-01,  2.29689066e-01],
             [ 6.84357474e-01,  7.61125290e-02,  3.05672475e-02,
              -5.94372268e-02, -2.35690407e-01, -3.99995728e-02,
              -8.88317312e-02,  5.03409906e-05,  2.34037103e-01,
               1.00000000e+00, -7.66458679e-02,  3.65271895e-02,
               7.76744982e-02,  5.77745395e-02,  6.87557075e-02],
             [-6.18365044e-02,  3.44838605e-02,  5.44716467e-03,
               1.55878428e-02,  1.81624688e-02,  4.99831748e-04,
              -2.68580453e-02,  2.20450580e-02, -9.46255725e-03,
              -7.66458679e-02,  1.00000000e+00, -4.31946327e-02,
               4.31885792e-04, -1.02517117e-02, -1.87684906e-02],
             [-1.04325558e-01, -1.70081765e-01, -1.04875923e-01,
              -3.16549423e-01, -1.10255651e-01, -3.97595119e-02,
              -1.22800543e-02, -2.88340795e-02,  3.35153953e-01,
               3.65271895e-02, -4.31946327e-02,  1.00000000e+00,
               1.22630115e-01,  7.99229567e-02,  1.48122733e-01],
             [ 4.52066638e-02,  5.92847625e-02, -5.77145430e-02,
              -7.14539715e-02, -5.75767690e-02, -7.99122568e-03,
              -4.84796469e-02, -7.87461293e-03,  2.23328818e-01,
               7.76744982e-02,  4.31885792e-04,  1.22630115e-01,
               1.00000000e+00, -3.16150630e-02,  7.84086154e-02],
             [ 2.01655344e-02,  2.19380216e-02, -5.33565354e-02,
              -4.84307107e-02, -5.83702565e-02, -1.71895897e-02,
              -4.55673547e-02, -3.89271091e-03,  1.50526312e-01,
               5.77745395e-02, -1.02517117e-02,  7.99229567e-02,
              -3.16150630e-02,  1.00000000e+00,  5.42563623e-02],
             [-1.74679748e-01, -7.92952053e-03, -1.46710908e-01,
              -7.72239669e-02, -2.27606671e-01, -3.31146865e-02,
              -2.29309149e-01, -3.36369371e-03,  2.29689066e-01,
               6.87557075e-02, -1.87684906e-02,  1.48122733e-01,
               7.84086154e-02,  5.42563623e-02,  1.00000000e+00]])

In [58]:
from pyspark.ml.classification import NaiveBayes
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [76]:
#Splitting the data
splits=data.randomSplit([0.6,0.4], 1234)
train=splits[0]
test=splits[1]

In [75]:
data=data.select('features','label')

In [70]:
label=StringIndexer(inputCol='income',outputCol='label',handleInvalid='keep')

In [73]:
data=label.fit(data).transform(data)

In [74]:
data.show()

+--------------------+------+-----+
|            features|income|label|
+--------------------+------+-----+
|[13.0,2.0,1.0,3.0...| <=50K|  0.0|
|(15,[0,1,3,9,10,1...| <=50K|  0.0|
|(15,[0,2,3,4,9,10...| <=50K|  0.0|
|(15,[0,1,3,5,9,10...| <=50K|  0.0|
|[6.0,2.0,0.0,0.0,...| <=50K|  0.0|
|[8.0,3.0,0.0,2.0,...| <=50K|  0.0|
|[31.0,10.0,5.0,5....| <=50K|  0.0|
|(15,[0,3,8,9,10,1...|  >50K|  1.0|
|[1.0,3.0,1.0,0.0,...|  >50K|  1.0|
|[19.0,2.0,0.0,2.0...|  >50K|  1.0|
|[8.0,1.0,0.0,2.0,...|  >50K|  1.0|
|[7.0,2.0,0.0,0.0,...|  >50K|  1.0|
|[3.0,2.0,1.0,3.0,...| <=50K|  0.0|
|[11.0,6.0,1.0,4.0...| <=50K|  0.0|
|[17.0,4.0,0.0,1.0...|  >50K|  1.0|
|[2.0,8.0,0.0,8.0,...| <=50K|  0.0|
|(15,[0,2,3,4,9,10...| <=50K|  0.0|
|(15,[0,2,3,4,9,10...| <=50K|  0.0|
|(15,[0,1,3,9,10,1...| <=50K|  0.0|
|[20.0,3.0,2.0,2.0...|  >50K|  1.0|
+--------------------+------+-----+
only showing top 20 rows

In [77]:
#using the naivebayes model
nb=NaiveBayes(featuresCol='features',labelCol='label',smoothing=1.0,modelType='multinomial')

In [78]:
model=nb.fit(train)

In [79]:
# select rows to display.
predictions = model.transform(test)
predictions.show()

+--------------------+-----+--------------------+-----------+----------+
|            features|label|       rawPrediction|probability|prediction|
+--------------------+-----+--------------------+-----------+----------+
|(15,[0,1,2,3,9,10...|  0.0|[-1170.6332690178...|  [1.0,0.0]|       0.0|
|(15,[0,1,2,4,9,10...|  0.0|[-1178.7524895374...|  [1.0,0.0]|       0.0|
|(15,[0,1,2,4,9,10...|  0.0|[-1116.6188965249...|  [1.0,0.0]|       0.0|
|(15,[0,1,2,4,9,10...|  0.0|[-1056.9244173824...|  [1.0,0.0]|       0.0|
|(15,[0,1,2,4,9,10...|  0.0|[-1182.2351619669...|  [1.0,0.0]|       0.0|
|(15,[0,1,2,4,9,10...|  0.0|[-793.99771379730...|  [1.0,0.0]|       0.0|
|(15,[0,1,2,4,9,10...|  0.0|[-1151.1536382195...|  [1.0,0.0]|       0.0|
|(15,[0,1,2,4,9,10...|  0.0|[-785.84945549171...|  [1.0,0.0]|       0.0|
|(15,[0,1,2,4,9,10...|  0.0|[-1146.4373386532...|  [1.0,0.0]|       0.0|
|(15,[0,1,2,4,9,10...|  0.0|[-1107.7771847274...|  [1.0,0.0]|       0.0|
|(15,[0,1,2,4,9,10...|  0.0|[-619.11108211966...|  [1.0,0.0]|       0.0|
|(15,[0,1,2,4,9,10...|  0.0|[-1180.3749045592...|  [1.0,0.0]|       0.0|
|(15,[0,1,2,4,9,10...|  0.0|[-829.75582200058...|  [1.0,0.0]|       0.0|
|(15,[0,1,2,4,9,10...|  0.0|[-1169.4936837439...|  [1.0,0.0]|       0.0|
|(15,[0,1,2,4,9,10...|  0.0|[-1129.9730083160...|  [1.0,0.0]|       0.0|
|(15,[0,1,2,4,9,10...|  0.0|[-1124.6318410050...|  [1.0,0.0]|       0.0|
|(15,[0,1,2,4,9,10...|  0.0|[-1226.6151520297...|  [1.0,0.0]|       0.0|
|(15,[0,1,2,4,9,10...|  0.0|[-814.39881059407...|  [1.0,0.0]|       0.0|
|(15,[0,1,2,4,9,10...|  0.0|[-980.76312784370...|  [1.0,0.0]|       0.0|
|(15,[0,1,2,4,9,10...|  0.0|[-1154.0706199752...|  [1.0,0.0]|       0.0|
+--------------------+-----+--------------------+-----------+----------+
only showing top 20 rows

In [81]:
# compute accuracy on the test set
evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction",
                                              metricName="accuracy")
accuracy = evaluator.evaluate(predictions)
print("Test set accuracy = " + str(accuracy))

Test set accuracy = 0.7859105480079377