In [1]:
pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ucimlrepo) (2.0.3)
Requirement already satisfied: certifi>=2020.12.5 in /usr/local/lib/python3.10/dist-packages (from ucimlrepo) (2024.6.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7

In [2]:
from ucimlrepo import fetch_ucirepo

# fetch dataset
adult = fetch_ucirepo(id=2)

# data (as pandas dataframes)
X = adult.data.features
y = adult.data.targets

# metadata
print(adult.metadata)

# variable information
print(adult.variables)

{'uci_id': 2, 'name': 'Adult', 'repository_url': 'https://archive.ics.uci.edu/dataset/2/adult', 'data_url': 'https://archive.ics.uci.edu/static/public/2/data.csv', 'abstract': 'Predict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset. ', 'area': 'Social Science', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 48842, 'num_features': 14, 'feature_types': ['Categorical', 'Integer'], 'demographics': ['Age', 'Income', 'Education Level', 'Other', 'Race', 'Sex'], 'target_col': ['income'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1996, 'last_updated': 'Mon Aug 07 2023', 'dataset_doi': '10.24432/C5XW20', 'creators': ['Barry Becker', 'Ronny Kohavi'], 'intro_paper': None, 'additional_info': {'summary': 'Extraction was done by Barry Becker from the 1994 Census database.  A set of reasonably clean records was extracted using the following conditions: ((AAGE>16) && (AGI>100) && (AFNLWGT>1)&& (HRSWK>0))\r\n\r\nPrediction task is to determine whether a person makes over 50K a year.\r\n', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Listing of attributes:\r\n\r\n>50K, <=50K.\r\n\r\nage: continuous.\r\nworkclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.\r\nfnlwgt: continuous.\r\neducation: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.\r\neducation-num: continuous.\r\nmarital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.\r\noccupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.\r\nrelationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.\r\nrace: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.\r\nsex: Female, Male.\r\ncapital-gain: continuous.\r\ncapital-loss: continuous.\r\nhours-per-week: continuous.\r\nnative-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.', 'citation': None}}
              name     role         type      demographic  \
0              age  Feature      Integer              Age
1        workclass  Feature  Categorical           Income
2           fnlwgt  Feature      Integer             None
3        education  Feature  Categorical  Education Level
4    education-num  Feature      Integer  Education Level
5   marital-status  Feature  Categorical            Other
6       occupation  Feature  Categorical            Other
7     relationship  Feature  Categorical            Other
8             race  Feature  Categorical             Race
9              sex  Feature       Binary              Sex
10    capital-gain  Feature      Integer             None
11    capital-loss  Feature      Integer             None
12  hours-per-week  Feature      Integer             None
13  native-country  Feature  Categorical            Other
14          income   Target       Binary           Income

                                          description units missing_values
0                                                 N/A  None             no
1   Private, Self-emp-not-inc, Self-emp-inc, Feder...  None            yes
2                                                None  None             no
3    Bachelors, Some-college, 11th, HS-grad, Prof-...  None             no
4                                                None  None             no
5   Married-civ-spouse, Divorced, Never-married, S...  None             no
6   Tech-support, Craft-repair, Other-service, Sal...  None            yes
7   Wife, Own-child, Husband, Not-in-family, Other...  None             no
8   White, Asian-Pac-Islander, Amer-Indian-Eskimo,...  None             no
9                                       Female, Male.  None             no
10                                               None  None             no
11                                               None  None             no
12                                               None  None             no
13  United-States, Cambodia, England, Puerto-Rico,...  None            yes
14                                       >50K, <=50K.  None             no

In [3]:
 X.head()   #here u will get the datset in the from of rows and columns means in pandas table

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

In [4]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=74d177f5cac9b893e508ab30f4a9a603d4e8a2d51fe3a6745d56f9ae1c1591f0
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [5]:
import pyspark
from pyspark.sql import SparkSession

In [7]:
# Create a Spark session
spark = SparkSession.builder.appName("income_dataset").getOrCreate()

In [8]:
data=spark.read.csv('/content/adult.data')
data.show()

+---+-----------------+-------+-------------+---+--------------------+------------------+--------------+-------------------+-------+------+----+----+--------------+------+
|_c0|              _c1|    _c2|          _c3|_c4|                 _c5|               _c6|           _c7|                _c8|    _c9|  _c10|_c11|_c12|          _c13|  _c14|
+---+-----------------+-------+-------------+---+--------------------+------------------+--------------+-------------------+-------+------+----+----+--------------+------+
| 39|        State-gov|  77516|    Bachelors| 13|       Never-married|      Adm-clerical| Not-in-family|              White|   Male|  2174|   0|  40| United-States| <=50K|
| 50| Self-emp-not-inc|  83311|    Bachelors| 13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|     0|   0|  13| United-States| <=50K|
| 38|          Private| 215646|      HS-grad|  9|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|     0|   0|  40| United-States| <=50K|
| 53|          Private| 234721|         11th|  7|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|     0|   0|  40| United-States| <=50K|
| 28|          Private| 338409|    Bachelors| 13|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|     0|   0|  40|          Cuba| <=50K|
| 37|          Private| 284582|      Masters| 14|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|     0|   0|  40| United-States| <=50K|
| 49|          Private| 160187|          9th|  5| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|     0|   0|  16|       Jamaica| <=50K|
| 52| Self-emp-not-inc| 209642|      HS-grad|  9|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|     0|   0|  45| United-States|  >50K|
| 31|          Private|  45781|      Masters| 14|       Never-married|    Prof-specialty| Not-in-family|              White| Female| 14084|   0|  50| United-States|  >50K|
| 42|          Private| 159449|    Bachelors| 13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|  5178|   0|  40| United-States|  >50K|
| 37|          Private| 280464| Some-college| 10|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|     0|   0|  80| United-States|  >50K|
| 30|        State-gov| 141297|    Bachelors| 13|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|     0|   0|  40|         India|  >50K|
| 23|          Private| 122272|    Bachelors| 13|       Never-married|      Adm-clerical|     Own-child|              White| Female|     0|   0|  30| United-States| <=50K|
| 32|          Private| 205019|   Assoc-acdm| 12|       Never-married|             Sales| Not-in-family|              Black|   Male|     0|   0|  50| United-States| <=50K|
| 40|          Private| 121772|    Assoc-voc| 11|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|     0|   0|  40|             ?|  >50K|
| 34|          Private| 245487|      7th-8th|  4|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|     0|   0|  45|        Mexico| <=50K|
| 25| Self-emp-not-inc| 176756|      HS-grad|  9|       Never-married|   Farming-fishing|     Own-child|              White|   Male|     0|   0|  35| United-States| <=50K|
| 32|          Private| 186824|      HS-grad|  9|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|     0|   0|  40| United-States| <=50K|
| 38|          Private|  28887|         11th|  7|  Married-civ-spouse|             Sales|       Husband|              White|   Male|     0|   0|  50| United-States| <=50K|
| 43| Self-emp-not-inc| 292175|      Masters| 14|            Divorced|   Exec-managerial|     Unmarried|              White| Female|     0|   0|  45| United-States|  >50K|
+---+-----------------+-------+-------------+---+--------------------+------------------+--------------+-------------------+-------+------+----+----+--------------+------+
only showing top 20 rows

In [9]:
#adding label name to the columns
labels=['age','workclass','fnlwgt','education','numbers','marital','occupation','relation','race','gender','gain','loss','hourlypay','country','income']

In [10]:
df=data.toDF(*labels)
df.show(5)

+---+-----------------+-------+----------+-------+-------------------+------------------+--------------+------+-------+-----+----+---------+--------------+------+
|age|        workclass| fnlwgt| education|numbers|            marital|        occupation|      relation|  race| gender| gain|loss|hourlypay|       country|income|
+---+-----------------+-------+----------+-------+-------------------+------------------+--------------+------+-------+-----+----+---------+--------------+------+
| 39|        State-gov|  77516| Bachelors|     13|      Never-married|      Adm-clerical| Not-in-family| White|   Male| 2174|   0|       40| United-States| <=50K|
| 50| Self-emp-not-inc|  83311| Bachelors|     13| Married-civ-spouse|   Exec-managerial|       Husband| White|   Male|    0|   0|       13| United-States| <=50K|
| 38|          Private| 215646|   HS-grad|      9|           Divorced| Handlers-cleaners| Not-in-family| White|   Male|    0|   0|       40| United-States| <=50K|
| 53|          Private| 234721|      11th|      7| Married-civ-spouse| Handlers-cleaners|       Husband| Black|   Male|    0|   0|       40| United-States| <=50K|
| 28|          Private| 338409| Bachelors|     13| Married-civ-spouse|    Prof-specialty|          Wife| Black| Female|    0|   0|       40|          Cuba| <=50K|
+---+-----------------+-------+----------+-------+-------------------+------------------+--------------+------+-------+-----+----+---------+--------------+------+
only showing top 5 rows

In [11]:
df.printSchema()

root
 |-- age: string (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: string (nullable = true)
 |-- education: string (nullable = true)
 |-- numbers: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relation: string (nullable = true)
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- gain: string (nullable = true)
 |-- loss: string (nullable = true)
 |-- hourlypay: string (nullable = true)
 |-- country: string (nullable = true)
 |-- income: string (nullable = true)

In [13]:
from pyspark.sql.functions import col
new_df=df.withColumn('age',col('age').cast('integer'))

In [14]:
new_df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: string (nullable = true)
 |-- education: string (nullable = true)
 |-- numbers: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relation: string (nullable = true)
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- gain: string (nullable = true)
 |-- loss: string (nullable = true)
 |-- hourlypay: string (nullable = true)
 |-- country: string (nullable = true)
 |-- income: string (nullable = true)

In [23]:
for i in ['fnlwgt','numbers','gain','loss','hourlypay']:
  new_df=new_df.withColumn(i,col(i).cast('integer'))

In [24]:
from pyspark.sql.functions import *
new_df.select([count(when(col(c).isNull(),c )).alias(c) for c in new_df.columns]).show()

+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|age|workclass|fnlwgt|education|numbers|marital|occupation|relation|race|gender|gain|loss|hourlypay|country|income|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|  0|        0|     0|        0|      0|      0|         0|       0|   0|     0|   0|   0|        0|      0|     0|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+

In [25]:
df.select('workclass').distinct().show()  #null values are present

+-----------------+
|        workclass|
+-----------------+
|        State-gov|
|      Federal-gov|
| Self-emp-not-inc|
|        Local-gov|
|          Private|
|                ?|
|     Self-emp-inc|
|      Without-pay|
|     Never-worked|
+-----------------+

In [26]:
df.groupby('workclass').count().show()

+-----------------+-----+
|        workclass|count|
+-----------------+-----+
|        State-gov| 1298|
|      Federal-gov|  960|
| Self-emp-not-inc| 2541|
|        Local-gov| 2093|
|          Private|22696|
|                ?| 1836|
|     Self-emp-inc| 1116|
|      Without-pay|   14|
|     Never-worked|    7|
+-----------------+-----+

In [32]:
#replacing the null values
df=new_df.replace(' ?',None)

In [33]:
from pyspark.sql.functions import *
df.select([count(when(col(c).isNull(),c )).alias(c) for c in df.columns]).show()

+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|age|workclass|fnlwgt|education|numbers|marital|occupation|relation|race|gender|gain|loss|hourlypay|country|income|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|  0|     1836|     0|        0|      0|      0|      1843|       0|   0|     0|   0|   0|        0|    583|     0|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+

In [35]:
df.groupby('country').count().show()

+-------------------+-----+
|            country|count|
+-------------------+-----+
| Dominican-Republic|   70|
|            Ireland|   24|
|               Cuba|   95|
|          Guatemala|   64|
|               Iran|   43|
|             Taiwan|   51|
|        El-Salvador|  106|
|      United-States|29170|
|              South|   80|
|              Japan|   62|
|          Nicaragua|   34|
|               NULL|  583|
|             Canada|  121|
|           Cambodia|   19|
|               Laos|   18|
|            Germany|  137|
|    Trinadad&Tobago|   19|
|               Peru|   31|
|            Ecuador|   28|
|         Yugoslavia|   16|
+-------------------+-----+
only showing top 20 rows

In [36]:
#using the mode method and filling the null values
df=df.fillna('United-States',subset=['country'])

In [37]:
df.groupby('workclass').count().show()

+-----------------+-----+
|        workclass|count|
+-----------------+-----+
|        State-gov| 1298|
|      Federal-gov|  960|
|             NULL| 1836|
| Self-emp-not-inc| 2541|
|        Local-gov| 2093|
|          Private|22696|
|     Self-emp-inc| 1116|
|      Without-pay|   14|
|     Never-worked|    7|
+-----------------+-----+

In [38]:
#using the mode method and filling the null values
df=df.fillna('Private',subset=['workclass'])

In [39]:
df.groupby('occupation').count().show()

+------------------+-----+
|        occupation|count|
+------------------+-----+
|   Farming-fishing|  994|
|              NULL| 1843|
| Handlers-cleaners| 1370|
|    Prof-specialty| 4140|
|      Adm-clerical| 3770|
|   Exec-managerial| 4066|
|      Craft-repair| 4099|
|             Sales| 3650|
|      Tech-support|  928|
|  Transport-moving| 1597|
|   Protective-serv|  649|
|      Armed-Forces|    9|
| Machine-op-inspct| 2002|
|     Other-service| 3295|
|   Priv-house-serv|  149|
+------------------+-----+

In [40]:
df=df.fillna('Prof-specialty',subset=['occupation'])

In [41]:
new_df.select([count(when(col(c).isNull(),c )).alias(c) for c in new_df.columns]).show()

+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|age|workclass|fnlwgt|education|numbers|marital|occupation|relation|race|gender|gain|loss|hourlypay|country|income|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|  0|        0|     0|        0|      0|      0|         0|       0|   0|     0|   0|   0|        0|      0|     0|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+

#Applying Logistic Regression

In [42]:
from pyspark.ml.classification import LogisticRegression
from pyspark.ml import Pipeline
from pyspark.ml.feature import VectorAssembler,StringIndexer

In [43]:
df.columns

['age',
 'workclass',
 'fnlwgt',
 'education',
 'numbers',
 'marital',
 'occupation',
 'relation',
 'race',
 'gender',
 'gain',
 'loss',
 'hourlypay',
 'country',
 'income']

In [44]:
categorical_cols=['age',
 'education',
 'marital',
 'occupation',
 'relation',
 'race',
 'gender',
 'country']

numerical_cols=['age','fnlwgt','numbers','gain','loss','hourlypay']
label='income'

In [45]:
#applying indexer
indexer=[StringIndexer(inputCol=c,outputCol=f'{c}_index',handleInvalid='keep') for c in categorical_cols]

In [46]:
label_indexer=StringIndexer(inputCol='income',outputCol='label',handleInvalid='keep')

In [47]:
assembler=VectorAssembler(inputCols=[f'{c}_index' for c in categorical_cols]+numerical_cols,outputCol='features')

In [48]:
#using logistic regression
lr=LogisticRegression(featuresCol='features',labelCol='label')

In [49]:
pipeline = Pipeline(stages=indexer+[assembler,label_indexer,lr])

In [50]:
train_data,test_data=df.randomSplit([.8,.2])

In [51]:
model=pipeline.fit(train_data)

In [52]:
prediction=model.transform(test_data)

In [53]:
prediction.show()

+---+----------+------+---------+-------+--------------+------------------+---------------+------+-------+----+----+---------+--------------+------+---------+---------------+-------------+----------------+--------------+----------+------------+-------------+--------------------+-----+--------------------+--------------------+----------+
|age| workclass|fnlwgt|education|numbers|       marital|        occupation|       relation|  race| gender|gain|loss|hourlypay|       country|income|age_index|education_index|marital_index|occupation_index|relation_index|race_index|gender_index|country_index|            features|label|       rawPrediction|         probability|prediction|
+---+----------+------+---------+-------+--------------+------------------+---------------+------+-------+----+----+---------+--------------+------+---------+---------------+-------------+----------------+--------------+----------+------------+-------------+--------------------+-----+--------------------+--------------------+----------+
| 17| Local-gov| 32124|      9th|      5| Never-married|     Other-service|      Own-child| Black|   Male|   0|   0|        9| United-States| <=50K|     38.0|           10.0|          1.0|             5.0|           2.0|       1.0|         0.0|          0.0|[38.0,10.0,1.0,5....|  0.0|[9.25373254118539...|[0.99955110784886...|       0.0|
| 17| Local-gov|246308|     11th|      7| Never-married|    Prof-specialty|      Own-child| White| Female|   0|   0|       20|   Puerto-Rico| <=50K|     38.0|            5.0|          1.0|             0.0|           2.0|       0.0|         1.0|          6.0|[38.0,5.0,1.0,0.0...|  0.0|[8.94811507875358...|[0.99866784570340...|       0.0|
| 17|   Private| 29571|     12th|      8| Never-married| Handlers-cleaners|      Own-child| White|   Male|   0|   0|       15| United-States| <=50K|     38.0|           11.0|          1.0|             9.0|           2.0|       0.0|         0.0|          0.0|[38.0,11.0,1.0,9....|  0.0|[8.88175382399272...|[0.99869456444974...|       0.0|
| 17|   Private| 32763|     10th|      6| Never-married|     Other-service|      Own-child| White|   Male|   0|   0|       15| United-States| <=50K|     38.0|            7.0|          1.0|             5.0|           2.0|       0.0|         0.0|          0.0|[38.0,7.0,1.0,5.0...|  0.0|[8.97253342645475...|[0.99908923068049...|       0.0|
| 17|   Private| 33138|     12th|      8| Never-married|             Sales|      Own-child| White|   Male|   0|   0|       40| United-States| <=50K|     38.0|           11.0|          1.0|             4.0|           2.0|       0.0|         0.0|          0.0|[38.0,11.0,1.0,4....|  0.0|[8.38522283262393...|[0.99613709584704...|       0.0|
| 17|   Private| 36877|     10th|      6| Never-married|             Sales|      Own-child| White| Female|   0|   0|       10| United-States| <=50K|     38.0|            7.0|          1.0|             4.0|           2.0|       0.0|         1.0|          0.0|[38.0,7.0,1.0,4.0...|  0.0|[9.32148277380185...|[0.99947797218936...|       0.0|
| 17|   Private| 38611|     11th|      7| Never-married|      Adm-clerical|      Own-child| White| Female|   0|   0|       23| United-States| <=50K|     38.0|            5.0|          1.0|             3.0|           2.0|       0.0|         1.0|          0.0|[38.0,5.0,1.0,3.0...|  0.0|[9.01718910542238...|[0.99884124455431...|       0.0|
| 17|   Private| 46402|  7th-8th|      4| Never-married|             Sales|      Own-child| White|   Male|   0|   0|        8| United-States| <=50K|     38.0|            8.0|          1.0|             4.0|           2.0|       0.0|         0.0|          0.0|[38.0,8.0,1.0,4.0...|  0.0|[9.25456378142504...|[0.99958608646221...|       0.0|
| 17|   Private| 53367|      9th|      5| Never-married|     Other-service|      Own-child| White| Female|   0|   0|       35| United-States| <=50K|     38.0|           10.0|          1.0|             5.0|           2.0|       0.0|         1.0|          0.0|[38.0,10.0,1.0,5....|  0.0|[9.22516242900644...|[0.99922186635424...|       0.0|
| 17|   Private| 57723|     11th|      7| Never-married|             Sales|      Own-child| White|   Male|   0|   0|       30| United-States| <=50K|     38.0|            5.0|          1.0|             4.0|           2.0|       0.0|         0.0|          0.0|[38.0,5.0,1.0,4.0...|  0.0|[8.64627148486627...|[0.99782165321627...|       0.0|
| 17|   Private| 60562|      9th|      5| Never-married|     Other-service|      Own-child| White| Female|   0|   0|       20| United-States| <=50K|     38.0|           10.0|          1.0|             5.0|           2.0|       0.0|         1.0|          0.0|[38.0,10.0,1.0,5....|  0.0|[9.38076950079404...|[0.99951240986880...|       0.0|
| 17|   Private| 65368|     11th|      7| Never-married|             Sales|      Own-child| White| Female|   0|   0|       12| United-States| <=50K|     38.0|            5.0|          1.0|             4.0|           2.0|       0.0|         1.0|          0.0|[38.0,5.0,1.0,4.0...|  0.0|[9.17749692361654...|[0.99921628847669...|       0.0|
| 17|   Private| 70868|     11th|      7| Never-married|      Craft-repair|      Own-child| White|   Male|   0|   0|       16| United-States| <=50K|     38.0|            5.0|          1.0|             1.0|           2.0|       0.0|         0.0|          0.0|[38.0,5.0,1.0,1.0...|  0.0|[8.64933987468945...|[0.99830832003858...|       0.0|
| 17|   Private| 78602|     11th|      7| Never-married|     Other-service| Other-relative| White| Female|   0|   0|       20| United-States| <=50K|     38.0|            5.0|          1.0|             5.0|           5.0|       0.0|         1.0|          0.0|[38.0,5.0,1.0,5.0...|  0.0|[9.44734314291433...|[0.99882599794950...|       0.0|
| 17|   Private| 79682|     10th|      6| Never-married|   Priv-house-serv| Other-relative| White|   Male|   0|   0|       30| United-States| <=50K|     38.0|            7.0|          1.0|            13.0|           5.0|       0.0|         0.0|          0.0|[38.0,7.0,1.0,13....|  0.0|[9.49885427237083...|[0.99886181805621...|       0.0|
| 17|   Private| 82041|     11th|      7| Never-married| Handlers-cleaners|      Own-child| White|   Male|   0|   0|       40|        Canada| <=50K|     38.0|            5.0|          1.0|             9.0|           2.0|       0.0|         0.0|          5.0|[38.0,5.0,1.0,9.0...|  0.0|[8.82084377283742...|[0.99786378821498...|       0.0|
| 17|   Private| 89821|     11th|      7| Never-married|     Other-service|      Own-child| White|   Male|   0|   0|       10| United-States| <=50K|     38.0|            5.0|          1.0|             5.0|           2.0|       0.0|         0.0|          0.0|[38.0,5.0,1.0,5.0...|  0.0|[8.89989186358857...|[0.99888582461768...|       0.0|
| 17|   Private| 95909|     11th|      7| Never-married| Handlers-cleaners|      Own-child| White|   Male|   0|   0|       12| United-States| <=50K|     38.0|            5.0|          1.0|             9.0|           2.0|       0.0|         0.0|          0.0|[38.0,5.0,1.0,9.0...|  0.0|[9.06790905168497...|[0.99906318496622...|       0.0|
| 17|   Private| 98005|     11th|      7| Never-married|             Sales|      Own-child| White| Female|   0|   0|       16| United-States| <=50K|     38.0|            5.0|          1.0|             4.0|           2.0|       0.0|         1.0|          0.0|[38.0,5.0,1.0,4.0...|  0.0|[9.13425763730726...|[0.99909575014011...|       0.0|
| 17|   Private| 98675|      9th|      5| Never-married|     Other-service|      Unmarried| White| Female|   0|   0|       20| United-States| <=50K|     38.0|           10.0|          1.0|             5.0|           3.0|       0.0|         1.0|          0.0|[38.0,10.0,1.0,5....|  0.0|[9.48098527313441...|[0.99946705554516...|       0.0|
+---+----------+------+---------+-------+--------------+------------------+---------------+------+-------+----+----+---------+--------------+------+---------+---------------+-------------+----------------+--------------+----------+------------+-------------+--------------------+-----+--------------------+--------------------+----------+
only showing top 20 rows

In [54]:
prediction.select('label','prediction').show()

+-----+----------+
|label|prediction|
+-----+----------+
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
+-----+----------+
only showing top 20 rows

In [55]:
prediction.select('label','prediction').distinct().show()

+-----+----------+
|label|prediction|
+-----+----------+
|  1.0|       1.0|
|  0.0|       1.0|
|  1.0|       0.0|
|  0.0|       0.0|
+-----+----------+

In [56]:
prediction.groupby('label','prediction').count().show()

+-----+----------+-----+
|label|prediction|count|
+-----+----------+-----+
|  1.0|       1.0|  806|
|  0.0|       1.0|  344|
|  1.0|       0.0|  739|
|  0.0|       0.0| 4685|
+-----+----------+-----+

In [57]:
 #evaluating the data
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

evaluator=MulticlassClassificationEvaluator(predictionCol='prediction',labelCol='label',metricName='accuracy')

In [58]:
evaluator.evaluate(prediction)

0.8352601156069365

The accuracy was found to be 84% on the testing data