In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=dead180adb0c7017e810b1b35dbd9402028b3636521860724348dacb747d550f
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
# Create a Spark session
spark = SparkSession.builder.appName("crew_requirements").getOrCreate()

In [4]:
df=spark.read.csv('/content/cruise_ship_info.csv',inferSchema=True,header=True)

In [5]:
df.show(5)

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 5 rows

In [6]:
df.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)

In [7]:
from pyspark.ml.feature import StringIndexer
indexer=StringIndexer(inputCol='Cruise_line',outputCol='Cruise_line_index')

df_indexed=indexer.fit(df).transform(df)

In [8]:
df_indexed.show(10)

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+-----------------+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|Cruise_line_index|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+-----------------+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|             16.0|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|             16.0|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|              1.0|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|              1.0|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|              1.0|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|              1.0|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|              1.0|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|              1.0|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|              1.0|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|              1.0|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+-----------------+
only showing top 10 rows

In [9]:
df_indexed.select('Cruise_line','Cruise_line_index').distinct().show()

+-----------------+-----------------+
|      Cruise_line|Cruise_line_index|
+-----------------+-----------------+
|            Costa|              5.0|
|        Norwegian|              4.0|
|              MSC|              7.0|
|           Orient|             19.0|
|Regent_Seven_Seas|             10.0|
|           Disney|             18.0|
|         Windstar|             15.0|
|              P&O|              8.0|
|  Royal_Caribbean|              0.0|
|         Seabourn|             14.0|
|             Star|              9.0|
|         Princess|              2.0|
|          Oceania|             13.0|
|          Azamara|             16.0|
| Holland_American|              3.0|
|           Cunard|             12.0|
|        Celebrity|              6.0|
|        Silversea|             11.0|
|          Crystal|             17.0|
|         Carnival|              1.0|
+-----------------+-----------------+

In [10]:
df_indexed.groupby('Cruise_line').count().show()

+-----------------+-----+
|      Cruise_line|count|
+-----------------+-----+
|            Costa|   11|
|              P&O|    6|
|           Cunard|    3|
|Regent_Seven_Seas|    5|
|              MSC|    8|
|         Carnival|   22|
|          Crystal|    2|
|           Orient|    1|
|         Princess|   17|
|        Silversea|    4|
|         Seabourn|    3|
| Holland_American|   14|
|         Windstar|    3|
|           Disney|    2|
|        Norwegian|   13|
|          Oceania|    3|
|          Azamara|    2|
|        Celebrity|   10|
|             Star|    6|
|  Royal_Caribbean|   23|
+-----------------+-----+

In [11]:
df_indexed.columns

['Ship_name',
 'Cruise_line',
 'Age',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'passenger_density',
 'crew',
 'Cruise_line_index']

In [12]:
from pyspark.ml.feature import VectorAssembler

assembler=VectorAssembler(inputCols=['Age',
'Tonnage',
'passengers',
'length',
'cabins',
'passenger_density',
'crew',
'Cruise_line_index'],outputCol='features')

output=assembler.transform(df_indexed)

In [13]:
output.show()

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+-----------------+--------------------+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|Cruise_line_index|            features|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+-----------------+--------------------+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|             16.0|[6.0,30.276999999...|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|             16.0|[6.0,30.276999999...|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|              1.0|[26.0,47.262,14.8...|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|              1.0|[11.0,110.0,29.74...|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|              1.0|[17.0,101.353,26....|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|              1.0|[22.0,70.367,20.5...|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|              1.0|[15.0,70.367,20.5...|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|              1.0|[23.0,70.367,20.5...|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|              1.0|[19.0,70.367,20.5...|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|              1.0|[6.0,110.23899999...|
|      Glory|   Carnival| 10|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|              1.0|[10.0,110.0,29.74...|
|    Holiday|   Carnival| 28|            46.052|     14.52|  7.27|  7.26|            31.72| 6.6|              1.0|[28.0,46.052,14.5...|
|Imagination|   Carnival| 18|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|              1.0|[18.0,70.367,20.5...|
|Inspiration|   Carnival| 17|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|              1.0|[17.0,70.367,20.5...|
|     Legend|   Carnival| 11|              86.0|     21.24|  9.63| 10.62|            40.49| 9.3|              1.0|[11.0,86.0,21.24,...|
|   Liberty*|   Carnival|  8|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|              1.0|[8.0,110.0,29.74,...|
|    Miracle|   Carnival|  9|              88.5|     21.24|  9.63| 10.62|            41.67|10.3|              1.0|[9.0,88.5,21.24,9...|
|   Paradise|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|              1.0|[15.0,70.367,20.5...|
|      Pride|   Carnival| 12|              88.5|     21.24|  9.63| 11.62|            41.67| 9.3|              1.0|[12.0,88.5,21.24,...|
|  Sensation|   Carnival| 20|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|              1.0|[20.0,70.367,20.5...|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+-----------------+--------------------+
only showing top 20 rows

In [14]:
train_data,test_data=output.randomSplit([.8,.2])
train_data.describe().show()

+-------+---------+-----------+------------------+------------------+-----------------+------------------+-----------------+-----------------+------------------+-----------------+
|summary|Ship_name|Cruise_line|               Age|           Tonnage|       passengers|            length|           cabins|passenger_density|              crew|Cruise_line_index|
+-------+---------+-----------+------------------+------------------+-----------------+------------------+-----------------+-----------------+------------------+-----------------+
|  count|      119|        119|               119|               119|              119|               119|              119|              119|               119|              119|
|   mean| Infinity|       NULL|15.865546218487395| 69.93369747899162|18.39512605042017| 8.076302521008401|8.767310924369752|39.13453781512604| 7.693781512605046|4.983193277310924|
| stddev|     NULL|       NULL| 7.857765639364967|36.029637418629065|9.542693616952578|1.7422714890635618|4.375171802433803|8.607521518495002|3.3396759691588875|4.479677639123477|
|    min|  Allegra|    Azamara|                 4|             2.329|             0.66|               2.8|             0.33|             17.7|              0.59|              0.0|
|    max|Zuiderdam|   Windstar|                48|             220.0|             54.0|             11.82|             27.0|            71.43|              21.0|             19.0|
+-------+---------+-----------+------------------+------------------+-----------------+------------------+-----------------+-----------------+------------------+-----------------+

In [15]:
from pyspark.ml.regression import LinearRegression
crew_req=LinearRegression(featuresCol='features',labelCol='crew')

model=crew_req.fit(train_data)

In [16]:
result=model.evaluate(train_data)

In [17]:
result.r2

1.0

In [18]:
pred=model.transform(test_data)

In [19]:
result_test=model.evaluate(test_data)

In [20]:
result_test.r2

1.0

In [21]:
pred.show()

+------------+---------------+---+------------------+----------+------+------+-----------------+-----+-----------------+--------------------+------------------+
|   Ship_name|    Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density| crew|Cruise_line_index|            features|        prediction|
+------------+---------------+---+------------------+----------+------+------+-----------------+-----+-----------------+--------------------+------------------+
|   Adventure|Royal_Caribbean| 12|             138.0|     31.14|  10.2| 15.57|            44.32|11.85|              0.0|[12.0,138.0,31.14...|11.850000000000033|
|   Atlantica|          Costa| 13|            85.619|     21.14|  9.57| 10.56|             40.5|  9.2|              5.0|[13.0,85.619,21.1...| 9.199999999999989|
|    Conquest|       Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99| 19.1|              1.0|[11.0,110.0,29.74...|19.099999999999905|
|        Dawn|      Norwegian| 11|              90.0|      22.4|  9.65|  11.2|            40.18| 11.0|              4.0|[11.0,90.0,22.4,9...|10.999999999999968|
|     Fortuna|          Costa| 10|             105.0|      27.2|   8.9| 13.56|             38.6|10.68|              5.0|[10.0,105.0,27.2,...|10.680000000000021|
|       Glory|       Carnival| 10|             110.0|     29.74|  9.51| 14.87|            36.99| 11.6|              1.0|[10.0,110.0,29.74...|11.600000000000016|
|       Grand|       Princess| 15|           108.806|      26.0|  9.51|  13.0|            41.85| 11.1|              2.0|[15.0,108.806,26....|11.100000000000007|
| Imagination|       Carnival| 18|            70.367|     20.52|  8.55|  10.2|            34.29|  9.2|              1.0|[18.0,70.367,20.5...| 9.199999999999985|
|      Island|       Princess| 10| 91.62700000000001|     19.74|  9.64|  9.87|            46.42|  9.0|              2.0|[10.0,91.62700000...| 8.999999999999988|
|       Jewel|      Norwegian|  8|              91.0|     22.44|  9.65| 11.22|            40.55| 11.0|              4.0|[8.0,91.0,22.44,9...|10.999999999999968|
|       Jewel|Royal_Caribbean|  9|             90.09|     25.01|  9.62| 10.94|            36.02| 8.69|              0.0|[9.0,90.09,25.01,...| 8.689999999999992|
|     Liberty|Royal_Caribbean|  6|             158.0|      43.7| 11.25|  18.0|            36.16| 13.6|              0.0|[6.0,158.0,43.7,1...|13.600000000000023|
|    Liberty*|       Carnival|  8|             110.0|     29.74|  9.51| 14.87|            36.99| 11.6|              1.0|[8.0,110.0,29.74,...|11.600000000000014|
|       Magic|         Disney| 15|            83.338|      17.5|  9.64|  8.75|            47.62| 9.45|             18.0|[15.0,83.338,17.5...| 9.449999999999974|
|      Marina|          Costa| 23|              25.0|      7.76|  6.22|  3.86|            32.22| 3.85|              5.0|[23.0,25.0,7.76,6...|  3.84999999999999|
|     Mariner|Royal_Caribbean| 10|             138.0|     31.14|  10.2| 15.57|            44.32|11.85|              0.0|[10.0,138.0,31.14...|11.850000000000033|
|Mediterranea|          Costa| 10|              86.0|     21.14|   9.6| 10.56|            40.68|  9.2|              5.0|[10.0,86.0,21.14,...| 9.199999999999987|
|   Navigator|Royal_Caribbean| 11|             138.0|     31.14|  10.2| 15.57|            44.32|11.85|              0.0|[11.0,138.0,31.14...|11.850000000000033|
|     Pacific|       Princess| 14|30.276999999999997|      6.86|  5.93|  3.44|            44.14| 3.73|              2.0|[14.0,30.27699999...|3.7300000000000013|
|    Paradise|       Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29|  9.2|              1.0|[15.0,70.367,20.5...| 9.199999999999983|
+------------+---------------+---+------------------+----------+------+------+-----------------+-----+-----------------+--------------------+------------------+
only showing top 20 rows